version: 2
orbs:
  browser-tools: circleci/browser-tools@1.2.1
jobs:
  ui-tests:
    docker:
      - image: cimg/openjdk:16.0.1-browsers
    steps:
      - browser-tools/install-browser-tools
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run: mvn dependency:go-offline
      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Running tests
          command: mvn clean test
      - run:
          name: Generate allure report
          command: mvn allure:report
          when: always
      - store_test_results:
          path: target/surefire-reports/junitreports
      - store_artifacts:
          path: target/site/allure-maven-plugin/
workflows:
  version: 2
  commit:
    jobs:
      - ui-tests
